.form {
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 24px;
    color: rgba(16, 24, 40, 0.6);
}

.inputStyle {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 15px;
    color: #344054;
    outline: none;
    cursor: pointer;
}

.errorStyle {
    color: #E44848;
    font-size: 13px;
    margin-top: -8px;
}

.button {
    padding: 16px 60px;
    border-radius: 200px;
    background-color: #E44848;
    transition: background-color 0.5s ease;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
}

.button:hover {
    background-color: #d84343;
}